.helloServer {
    color: cornflowerblue; 
    font-family: "Source Code Pro", monospace;
    font-size: 60px; 
    font-style: normal;
    text-align: center;
}
.burgercraft {
    font-family: "Saira", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 110%;
    text-align: center; 

    border-color: cornflowerblue;
    border-style: solid; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-width: 4px;
    border-block-end-width: 10px;
    border-block-start-width: 2px;

    padding-bottom: 8px;
    padding-top: 8px;
    margin-left: 200px;
    margin-right: 200px;
}
.worldMapLink {
    color: blueviolet; 
    font-size: 20px; 
    text-align: center;
}
.mapLinkImage {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.smileyImage {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}