:root {
    --font-sourceCodePro: "Source Code Pro", monospace;
    --background-color: rgb(27 27 35);
    --accent-color: rgb(139 92 246);
    --burgercraft-width: 590px;
    --burgercraft-height: 120px;
    --burgercraft-font-size: 80px;
    --burgercraft-border-size: 20px;
    --burgercraft-border-radius: 30px;
    --element-hover-transition: .4s ease-in-out;
    --element-hover-scale: 1.05;
}

body {
    background-color: var(--background-color);
}

main {
    display: flex;
    height: 500vh;
    cursor: url(pictures/mccursor.svg) 15 15, auto;
    animation-timeline: scroll();
}

/*                                                                                  Global things start ->>>
*/

.element-hover-animation:hover {
    scale: var(--element-hover-scale);
}
.element-hover-animation {
    transition: var(--element-hover-transition);
}

.animation-timeline {
    animation: --scroll_burgerlogo-small ease-in-out both;
    animation-timeline: scroll();
}

.cute-box-shadows {
    box-shadow:
        0 0 25px rgb(130 90 230 / 0.6),
        inset 0 2px 3px rgb(255 255 255 / 0.35),
        inset 0 -3px 3px rgb(0 0 0 / 0.45);
}

.element-blur {
    inset: 0;
    background: rgb(255 255 255 / 0.2);
    backdrop-filter: blur(1px);
}

.glow-big {
    height: inherit;
    width: inherit;
    position: absolute;
    box-shadow: 0 0 65px 25px rgb(139 92 246);
    animation: 5s ease-in-out --glow-animation-big infinite;
}

.glow-small {
    height: inherit;
    width: inherit;
    position: absolute;
    box-shadow: 0 0 25px 15px rgb(139 92 246);
    animation: 5s ease-in-out --glow-animation-small infinite;
}

/*                                                                                  Global things start end <<<-
*/
/*                                                                                  Burgercraft logo start ->>>
*/

.burgercraft-logo {
    display: flex;
    justify-content: center;
/*    align-items: center;*/
    width: 1920px;
    height: 1080px;
}

.card-burgercraft-fixed__setup {
    position: fixed;
    display: flex;
    position: fixed;
    height: calc(var(--burgercraft-height) + var(--burgercraft-border-size) * 2);
    width: calc(var(--burgercraft-width) + var(--burgercraft-border-size) * 2);
    transform-origin: center center;
}

.card-burgercraft-hero__setup {
    display: flex;
    margin: 0 auto;
    margin-top: 400px;
    height: calc(var(--burgercraft-height) + var(--burgercraft-border-size) * 2);
    width: calc(var(--burgercraft-width) + var(--burgercraft-border-size) * 2);
    transform-origin: center center;
}

.card-burgercraft,
.card-burgercraft__glow {
    height: inherit;
    width: inherit;
    border-radius: var(--burgercraft-border-radius);
}

.card-burgercraft {
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-burgercraft__blur{
    height: var(--burgercraft-height);
    width: var(--burgercraft-width);
    position: relative;
    border-radius: 10px;
}

.card-burgercraft__border {
    position: absolute;
    height: var(--burgercraft-height);
    width: var(--burgercraft-width);
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--burgercraft-border-size) solid rgb(0 0 0 / 0.3);
    border-radius: var(--burgercraft-border-radius);
}

/*                                                                                  Burgercraft Glow start ->>>
*/

.card-burgercraft__glow-big,
.card-burgercraft__glow-small {
    border-radius: var(--burgercraft-border-radius);
}

.card-burgercraft__glow {
    position: absolute;
    border-radius: inherit;
}

/*                                                                                  Burgercraft Glow end <<<-
*/

.card-burgercraft__text {
    position: absolute;
    font-family: var(--font-sourceCodePro);
    font-size: var(--burgercraft-font-size);
}

/*                                                                                  Burgercraft logo end <<<-
*/

@keyframes --glow-animation-big {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes --glow-animation-small {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}


@keyframes --scroll_burgerlogo-big {
    0% {
        opacity: 1;
        scale: 1;
    }
    9% {
        opacity: 0;
        scale: 0.3;
    }
    100% {
        opacity: 0;
    }
}

@keyframes --scroll_burgerlogo-small {
    0% {
        opacity: 0;
        scale: 0.3;    
    }
    9% {
        opacity: 0;
        scale: 0.3;
    }
    18% {
        opacity: 0.9;
        scale: 0.38;
    }
    20% {
        opacity: 1;
        scale: 0.4;
    }
    100% {
        opacity: 1;
        scale: 0.4;
    }
}